/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    project name
    created:    2012-01-04
    author:     johdoe
                
----------------------------------------------------------------------------- */
/* colors */
/* fonts */
@import url(fw.css);
/*  =PRINT */
/*  =RESET
----------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  height: 100%;
  color: #8f6f4d;
  background: #fff; }

input {
  height: auto; }

a img, fieldset, form {
  border: 0; }

ins, abbr, acronym {
  text-decoration: none;
  border: 0;
  font-style: normal; }

a:hover ins, a:hover abbr, a:hover acronym {
  text-decoration: underline; }

address {
  font-style: normal; }

ul {
  list-style: none; }

q:before, q:after {
  content: ''; }

small {
  font-size: 0.9em; }

input, select, textarea, button {
  font: 1em Arial, Verdana, Helvetica, sans-serif; }

input, textarea, select {
  /*not working with selects on IE6 IE7*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

sup {
  vertical-align: text-top; }

hr,
.accessibility {
  position: absolute;
  left: -9999em; }

button {
  width: auto;
  overflow: visible;
  border: 0;
  background: none;
  cursor: pointer; }

button::-moz-focus-inner {
  /*firefox extra padding removed*/
  border: 0;
  padding: 0; }

input.submit {
  width: auto !important;
  height: auto !important;
  cursor: pointer !important;
  border: 0 !important;
  overflow: visible; }

/* GENERIC */
a {
  color: #666;
  cursor: pointer; }

.img-100 {
  max-width: 100%; }

.bg-marroon {
  background: #8f6f4d;
  color: #ffffff; }

.bg-marroon-light a {
  color: #ffffff; }

.color-marroon-dark {
  color: #4e3b2b; }

.pointilles {
  background: url(../img/skin/pointilles.png) 0 0 repeat-x;
  height: 2px; }

/* FONTS */
.font-15 {
  font-size: 15px; }

.font-18 {
  font-size: 18px; }

.font-28 {
  font-size: 28px; }

.merriweather-bold {
  font-weight: 700; }

.font-josefin-semibold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600; }

/* STRUCTURE */
.page-content {
  padding-top: 108px;
  /* header height */ }

.page-width {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative; }

/* HEADER */
#header {
  z-index: 10;
  left: 0;
  position: fixed;
  background: white;
  height: 108px;
  /* box-shadow: 0px 27px 46px white; */
  right: 0; }

/* HEADER: NAV */
#nav {
  width: 960px;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
  text-transform: uppercase; }

#nav li {
  vertical-align: middle;
  display: inline-block;
  text-align: left; }

#nav a {
  text-decoration: none;
  padding: 0 18px; }

#nav-4 a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/skin/logo-emilie-et-charles.png) 0 0 no-repeat;
  width: 134px;
  padding: 0;
  height: 98px; }

/* LAYER 1 : COVER */
#cover {
  padding-top: 60px; }

/* LAYER 2 : YES */
#yes {
  background: url(../img/skin/bg-yes.jpg) center top no-repeat;
  height: 500px; }

#yes .story-container {
  width: 366px;
  position: absolute;
  text-align: center;
  top: 135px;
  left: 512px; }

#yes .title {
  padding-bottom: 20px; }

.text-normal-1 {
  font-size: 12px;
  line-height: 20px; }

/* LAYER 3 : PROGRAM */
.program-container,
.program-container a {
  color: #4e3b2b; }

.program {
  padding-bottom: 10px; }

.program .title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  /* bold */
  padding-bottom: 3px; }

.program .text {
  height: 68px; }

.program .image {
  margin-bottom: 7px; }

.program .inside {
  max-width: 265px;
  text-align: center; }

.link-more a {
  background: url(../img/skin/icon-plus.png) center 0 no-repeat;
  display: block;
  padding-top: 40px;
  font-weight: 700;
  /* bold */ }

.accomodation {
  background: url(../img/skin/flowers-bottom.png) center bottom no-repeat;
  padding-bottom: 77px; }

.accomodation-container {
  width: 60.41666666666666%;
  margin: 0 auto;
  padding: 31px 0 0 0; }

/* LAYER 6 : QUESTIONS */
#questions {
  padding-top: 100px;
  padding-bottom: 55px; }

#questions a {
  color: white; }

#questions .contact {
  font-size: 15px;
  text-align: center;
  line-height: 25px; }

#questions .contact-container {
  padding: 30px 0 37px 0; }

/* FOOTER */
#footer {
  text-align: center;
  padding: 10px 0; }

#footer a {
  color: #8f6f4d;
  text-decoration: none; }

#footer a:hover {
  text-decoration: underline; }

/* END */
