/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    project name
    created:    2012-01-04
    author:     johdoe
                
----------------------------------------------------------------------------- */
/* colors */
/* fonts */
@import url(fw.css);
/*  =PRINT */
/*  =RESET
----------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  font-family: "Merriweather", serif;
  font-size: 12px;
  margin: 0;
  height: 100%;
  color: #8f6f4d;
  background: #fff; }

input {
  height: auto; }

a img, fieldset, form {
  border: 0; }

ins, abbr, acronym {
  text-decoration: none;
  border: 0;
  font-style: normal; }

a:hover ins, a:hover abbr, a:hover acronym {
  text-decoration: underline; }

address {
  font-style: normal; }

ul {
  list-style: none; }

q:before, q:after {
  content: ''; }

small {
  font-size: 0.9em; }

input, select, textarea, button {
  font: 1em Arial, Verdana, Helvetica, sans-serif; }

input, textarea, select {
  /*not working with selects on IE6 IE7*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

sup {
  vertical-align: text-top; }

hr,
.accessibility {
  position: absolute;
  left: -9999em; }

button {
  width: auto;
  overflow: visible;
  border: 0;
  background: none;
  cursor: pointer; }

button::-moz-focus-inner {
  /*firefox extra padding removed*/
  border: 0;
  padding: 0; }

input.submit {
  width: auto !important;
  height: auto !important;
  cursor: pointer !important;
  border: 0 !important;
  overflow: visible; }

/* GENERIC */
.page-width {
  margin: 0 auto;
  width: 960px;
  position: relative; }

a {
  color: #666;
  cursor: pointer; }

/* HEADER */
#header {
  z-index: 10;
  left: 0;
  position: fixed;
  background: white;
  height: 108px;
  box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.5); 
  right: 0;
}

/* HEADER: NAV */
#nav {
  width: 960px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase; }

#nav li {
  vertical-align: middle;
  display: inline-block;
  text-align: left; }

#nav a {
  text-decoration: none;
  padding: 0 23px; }

#nav-4 a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/skin/logo-emilie-et-charles.png) 0 0 no-repeat;
  width: 134px;
  padding: 0;
  height: 98px; }

/* END */
