/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    Emilie & Charles
    created:    2014-02-09
    author:     florian.boudot@gmail.com

----------------------------------------------------------------------------- */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?86uskc');
    src:url('../fonts/icomoon.eot?#iefix86uskc') format('embedded-opentype'),
        url('../fonts/icomoon.woff?86uskc') format('woff'),
        url('../fonts/icomoon.ttf?86uskc') format('truetype'),
        url('../fonts/icomoon.svg?86uskc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
.icon-arrow-down:before {
    content: "\75";
}
.icon-arrow-up:before {
    content: "\64";
}*/
